.container {
  background-size: contain;
  width: 85%;
  margin: 0 auto;
  display: block;
  margin-top: 50px;
  position: relative;
}
.drPhoto {
  width: 100%;
}
.txt {
  font-size: 4rem;
  color: #eee;
  font-weight: bold;
  text-align: center;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
}

@media screen and (min-width: 600px) {
  .container {
    .drPhoto {
      height: 300px;
      width: 300px;
    }
    .txt {
      bottom: -130px;
      left: 50px;
      font-size: 4.5rem;
    }
  }
}
