.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  .modalContent {
    box-sizing: border-box;
    background: #393e46;
    color: #eee;
    margin: 20px 0;
    padding: 20px 20px;
    height: 54vh;
    width: 80%;
    .imgContainer {
      color: #000;
      border-radius: 10px;
      width: 100%;
      height: 150px;
      margin: 0;
      background-color: white;
      box-sizing: content-box;
    }
    .appName {
      font-family: "Ludica Sans Unicode";
      display: block;
      margin: 10px 0;
      font-weight: 100;
    }
    .aboutApp {
      font-family: "Ludica Sans Unicode";
      display: block;
      margin: 20px 10px 30px;
    }
  }
}
@media screen and (min-width: 600px) {
  .container {
    .modalContent {
      height: 50vh;
      width: 45%;
    }
  }
}
@media screen and (min-width: 1025px) {
  .container {
    .modalContent {
      width: 25%;
    }
  }
}
