.container {
  width: 90%;
  height: 300px;
  border-radius: 10px;
  background-color: #eee;
  margin: 0 auto;
  margin-top: 20px;
}

@media screen and (min-width: 600px) {
  .container {
    width: 95%;
  }
}
