.root {
  .container {
    width: 90%;
    height: 300px;
    border-radius: 10px;
    background-color: #eee;
    margin: 0 auto;
    margin-top: 20px;
    cursor: pointer;
    position: relative;
    box-shadow: 1px 5px 15px 0px #000;
    .img {
      // border: 1px solid #eee;
      border-radius: 10px;
      width: 100%;
      height: 100%;
      position: absolute;
      object-fit: cover;
      object-position: 15%;
    }
    p {
      position: absolute;
      z-index: 1;
      font-size: 2rem;
    }
  }
}

@media screen and (min-width: 600px) {
  .container {
    width: 95%;
  }
}
