.navContainer {
  position: fixed;
  top: 0;
  right: -30%;
  width: 30%;
  height: 100vh;
  background-color: black;
  z-index: 1;
  transition: 0.3s;
  .closeIcon {
    color: #eee;
    font-size: 2.5rem;
    padding-top: 10px;
    margin-bottom: 10px;
  }
  ul {
    margin: 0;
    padding: 0;
    text-align: center;
    li {
      list-style-type: none;
      a {
        color: #eee;
        text-decoration: none;
        margin-bottom: 10px;
        display: block;
      }
    }
  }
}
