.container {
  padding: 150px 20px 60px;
  background-color: #393e46;
  .textContainer {
    padding: 0 20px;
    h1,
    h2,
    p {
      color: #eee;
      font-family: "Ludica Sans Unicode";
    }
    h1 {
      font-size: 4rem;
    }
  }
}

@media screen and (min-width: 600px) {
  .container {
    padding: 150px 70px 60px;

    .textContainer {
      padding: 0 75px;
      h2 {
        padding: 10px 0 30px;
      }
    }
    .workImgContainer {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      .workImg {
        width: 50%;
      }
    }
  }
}

@media screen and (min-width: 1025px) {
  .container {
    padding: 150px 200px 80px;
    .textContainer {
      padding: 0 10%;
      h1 {
        font-size: 7rem;
      }
      h2 {
        font-size: 2rem;
      }
      p {
        font-size: 1.5rem;
        padding-right: 30%;
      }
    }
    .workImgContainer {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      .workImg {
        width: 33.3%;
      }
    }
  }
}
