.root {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #393e46;
  padding: 10px 20px;
  .logo {
    color: #eee;
  }
  .humMenu {
    width: 32px;
    height: 32px;
    color: #eee;
    margin-top: 5px;
    transition: 0.3s;
    &:hover {
      color: #00adb5;
    }
  }
}

@media screen and (min-width: 600px) {
  .root {
    padding: 20px 70px;
  }
}

@media screen and (min-width: 1025px) {
  .root {
    padding: 10px 200px;
    .logo {
      font-size: 2rem;
    }
    .humMenu {
      width: 34px;
      height: 34px;
    }
  }
}
