#MuiToolBar {
  padding: 0 20px;
  .title {
    flex-grow: 1;
    font-size: 2rem;
  }
  .MenuIcon {
    font-size: 2rem;
  }
}
.drawerHeader {
  display: flex;
  flex-direction: column;

  .MuiSvgIcon {
    color: #eee;
    font-size: 2rem;
    margin: 15px 20px;
  }
  .rightMenuUl {
    display: block;
    padding: 0;
    margin: 5px 20px;
    font-size: 1rem;
    text-align: center;
    .rightMenuList {
      list-style: none;
      margin-bottom: 20px;
    }
  }
}

@media screen and (min-width: 600px) {
  #MuiToolBar {
    padding: 0 75px;
    .title {
      flex-grow: 1;
      font-size: 2rem;
    }
    .MenuIcon {
      font-size: 2rem;
    }
  }
  .drawerHeader {
    display: flex;
    flex-direction: column;

    .MuiSvgIcon {
      color: #eee;
      font-size: 2rem;
      margin: 15px 20px;
    }
    .rightMenuUl {
      display: block;
      padding: 0;
      margin: 5px 20px;
      font-size: 1.5rem;
      text-align: center;
      .rightMenuList {
        list-style: none;
        margin-bottom: 20px;
      }
    }
  }
}
@media screen and (min-width: 1025px) {
  #MuiToolBar {
    padding: 0 200px;
    .title {
      flex-grow: 1;
      font-size: 2rem;
    }
    .MenuIcon {
      font-size: 2rem;
    }
  }
  .drawerHeader {
    display: flex;
    flex-direction: column;
    .MuiSvgIcon {
      color: #eee;
      font-size: 2rem;
      margin: 15px 20px;
    }
    .rightMenuUl {
      display: block;
      padding: 0;
      margin: 5px 20px;
      font-size: 2rem;
      text-align: center;
      .rightMenuList {
        list-style: none;
        margin-bottom: 20px;
      }
    }
  }
}
