.textArea {
  display: block;
  height: 100px;
  width: 100%;
  margin: 0 auto;
  border: none;
  border-bottom: 1px solid #000;
  background-color: #00adb5;
  outline: none;
}
@media screen and (min-width: 600px) {
  .textArea {
    height: 70px;
  }
}
