.root {
  padding: 40px 40px;
  width: 100%;
  height: 550px;
  background-color: #00adb5;
  .inputContainer {
    position: relative;
    .validateMsg {
      color: #aad8d3;
    }
    .input {
      font-family: "Ludica Sans Unicode";
      outline: none;
      box-sizing: border-box;
      width: 100%;
      border: none;
      padding: 10px 8px;
      background: #eee;
      border-radius: 10px;
      margin: 10px 0 15px;
      font-size: 1rem;
      display: block;
      &::placeholder {
        color: #393e46;
      }
    }
    .textarea {
      font-family: "Ludica Sans Unicode";
      outline: none;
      box-sizing: border-box;
      width: 100%;
      border: none;
      background: #eee;
      border-radius: 10px;
      padding: 10px 8px;
      margin: 10px 0 15px;
      font-size: 1rem;
      display: block;
      &::placeholder {
        color: #393e46;
      }
    }
    .submitBtn {
      background-color: #eee;
      font-family: "Ludica Sans Unicode";
      outline: none;
      border: none;
      width: 35%;
      padding: 10px 8px;
      font-size: 1rem;
      transition: 0.3s;
      border-radius: 10px;
      margin: 10px 0 50px;
      cursor: pointer;
      &:hover {
        background-color: #aad8d3;
      }
    }
  }
  .contactMe {
    color: #393e46;
    font-family: "Ludica Sans Unicode";
  }
}

@media screen and (min-width: 600px) {
  .root {
    display: flex;
    padding: 20px 70px;
    height: 400px;
    .inputContainer {
      padding-right: 50px;
    }
    .iconContainer {
      padding: 0px 30px;
      .contactMe {
        padding-bottom: 20px;
      }
    }
  }
}

@media screen and (min-width: 1025px) {
  .root {
    padding: 20px 200px;
    .iconContainer {
      .contactMe {
        font-size: 2rem;
      }
    }
  }
}
