.root {
  padding: 40px 40px;
  width: 100%;
  height: 500px;
  background-color: #00adb5;
  .contactMe {
    color: #393e46;
  }
}

@media screen and (min-width: 600px) {
  .root {
    display: flex;
    padding: 20px 70px;
    height: 250px;
    .inputContainer {
      padding-right: 50px;
    }
    .iconContainer {
      padding: 0px 30px;
      .contactMe {
        padding-bottom: 20px;
      }
    }
  }
}

@media screen and (min-width: 1025px) {
  .root {
    padding: 20px 200px;
    .iconContainer {
      .contactMe {
        font-size: 2rem;
      }
    }
  }
}
