.root {
  width: 100%;
  height: 60px;
  background-color: #393e46;
  text-align: center;
  color: #eee;
  line-height: 60px;
  a {
    color: #eee;
    transition: 0.3s;
    // &:hover {

    // }
  }
}
