html {
  width: 100%;
  height: 100vh;
}

body {
  font-family: "Lato", "Noto Sans JP", "ヒラギノ角ゴ ProN",
    "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック",
    "MS PGothic", sans-serif;
}

body,
div,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

a {
  color: rgb(19, 19, 19);
}

div {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
